duckdb==0.10.3
Flask==3.0.3
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-RESTful==0.3.10
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-text-splitters==0.2.0
PyPDF2==3.0.1
gunicorn==22.0.0
milvus==2.2.6
pymilvus==2.4.4
pypdf==4.3.1
